---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<div class="flex flex-row justify-between px-8">
  <header>
    <h2><a href="/">{SITE_TITLE}</a></h2>
  </header>
  <nav>
    <ul class="flex flex-grow gap-2">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </ul>
    </div>
    <div class="social-links">
      <a href="https://m.webtoo.ls/@astro" target="_blank">
        <span class="sr-only">Follow Astro on Mastodon</span>
        
      </a>
    </div>
  </nav>
</div>
