---
import HeaderLink from './HeaderLink.astro';
import HeaderLogo from './HeaderLogo.astro';
---

<div class="flex flex-row justify-between px-8 container items-center">
  <header class="py-3">
    <HeaderLogo />
  </header>
  <nav aria-label="Main">
    <ul class="flex flex-grow gap-2 items-center">
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">O nas</HeaderLink>
    </ul>
  </nav>
</div>
